// Libraries
@import "../../node_modules/reset-css/_reset";

// SCSS Partials
@import "_helpers";
@import "_components";

// CSS Sheets
@import "../styles/fonts.css";

:root {
  font-family: $font-galaxie, $font-helvetica;
  font-size: 16px;

  @include scrollbars(5px, darken($magenta, 10%));
}

*,
*::after,
*::before {
  box-sizing: inherit;
  transition: all $transition 0.3s;
  outline: 0 !important;

  &:hover {
    transition: all $transition 0.3s;
  }

  &:active,
  &:focus {
    transition: all $transition 0.3s;
    outline: 0 !important;
    border: 0 !important;
  }
}

button,
input,
textarea,
a {
  &:active,
  &:focus {
    outline: 0 !important;
    border: 0 solid transparent !important;
    box-shadow: 0 0 0 transparent !important;
  }
}

html {
  background: $white;
  min-height: 100vh;
  overflow-x: hidden;
  color: $black;
  box-sizing: border-box;

  @include scrollbars(5px, darken($magenta, 10%));
}

body {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  background: $white;
  font-family: inherit;
  overflow-x: hidden;
  padding-top: rem(60);

  @media (min-width: $screen-sm) {
    padding-top: 72px;
  }
}

button,
input,
label {
  background: transparent;
  border: 0;
  border-radius: 0;
  outline: 0 !important;

  &:hover {
    outline: 0 !important;
    cursor: pointer;
  }

  &:focus {
    outline: 0 !important;
  }

  &:active {
    outline: 0 !important;
  }
}

strong {
  font-weight: bold;
}

p {
  margin-bottom: $sm;
}

img {
  object-fit: contain;
  max-width: 100%;
}

// Fonts
.primary-navigation {
  @include font($font: $font-huge, $size: 21, $line-height: 48);
}

.secondary-navigation {
  @include font($font: $font-galaxie, $size: 16, $line-height: 48);
}

.headline {
  @include font($font: $font-huge, $size: 44, $line-height: 48, $d-size: 120, $d-line-height: 132);
}

.body-copy {
  @include font($font: $font-galaxie, $size: 14, $line-height: 24, $d-size: 24, $d-line-height: 36);
}

.copyright {
  @include font($font: $font-galaxie, $size: 12, $line-height: 16);
}

a {
  text-decoration: none;
}

.scroll-hidden {
  overflow: hidden;
}
