// .main-nav => <nav>
.main-nav {
  height: 60px;
  overflow: hidden;
  background: $magenta;
  padding: rem(20);

  &__toogle {
    width: rem(24);
  }
}

// Menu icon for mobile
.toogle {
  padding: 0;
  width: rem(24);

  &__bar {
    height: 4px;
    display: block;
    margin-bottom: 4px;
    background: $white;
    width: 100%;
  }

  &--close & {
    &__bar {
      &:nth-of-type(1) {
        opacity: 1;
        transform-origin: left top;
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        transform-origin: left bottom;
        transform: rotate(-45deg);
      }
    }
  }
}

.nav-mobile {
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(calc(-100% + 24px));
  }

  &__logo {
    width: rem(50);
  }

  &--open & {
    &__buttons {
      transform: translateX(0);
    }
  }
}
